html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

* {
	box-sizing: border-box
}

*:before,
*:after {
	box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #337ab7;
	text-decoration: none
}

img {
	vertical-align: middle
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px
	}
}

@media (min-width: 1460px) {
	.container {
		width: 1430px
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}

.row {
	margin-left: -15px;
	margin-right: -15px
}

.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}

.col-xs-12 {
	float: left
}

.col-xs-12 {
	width: 100%
}

@media (min-width: 768px) {
	.col-sm-12 {
		float: left
	}

	.col-sm-12 {
		width: 100%
	}
}

@media (min-width: 992px) {
	.col-md-12 {
		float: left
	}

	.col-md-12 {
		width: 100%
	}
}

@media (min-width: 1200px) {
	.col-lg-12 {
		float: left
	}

	.col-lg-12 {
		width: 100%
	}
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
	content: " ";
	display: table
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
	clear: both
}

.hide {
	display: none !important
}

.show {
	display: block !important
}

.text-hide {
	font-size: 0;
	line-height: 0;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.hidden {
	display: none !important;
	visibility: hidden !important
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
	display: none !important
}

@media (max-width: 767px) {
	.visible-xs {
		display: block !important
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm {
		display: block !important
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md {
		display: block !important
	}
}

@media (min-width: 1200px) {
	.visible-lg {
		display: block !important
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none !important
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hidden-sm {
		display: none !important
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.hidden-md {
		display: none !important
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
		display: none !important
	}
}

.modal-open {
	overflow: hidden
}

.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.modal.fade .modal-dialog {
	transition: transform 0.3s ease-out;
	transform: translate(-50%, -100%);
}

.modal.in .modal-dialog {
	transform: translate(-50%, -50%);
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}

.modal-dialog {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	position: absolute;
	width: auto;
	margin: 10px
}

.modal-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	background-clip: padding-box;
	outline: 0
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}

.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0)
}

.modal-backdrop.in {
	opacity: .5;
	filter: alpha(opacity=50)
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
	margin-top: -2px
}

.modal-title {
	margin: 0;
	line-height: 1.42857143
}

.modal-body {
	position: relative;
	padding: 20px
}

.modal-footer {
	padding: 20px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}

.modal-footer .btn + .btn {
	margin-left: 5px;
	margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
	margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
	margin-left: 0
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto
	}

	.modal-content {
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
	}

	.modal-sm {
		max-width: 400px;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.modal-lg {
		width: 900px
	}
}

@font-face {
	font-family: 'custom-icons';
	src: url('../fonts/custom-icons.eot?1584513349949');
	src: url('../fonts/custom-icons.eot?#iefix-1584513349949') format('embedded-opentype'), url('../fonts/custom-icons.woff2?1584513349949') format('woff2'), url('../fonts/custom-icons.woff?1584513349949') format('woff'), url('../fonts/custom-icons.ttf?1584513349949') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'custom-icons';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*
Glyphs list
*/

.icon-audit:before {
	content: '\ea01';
}

.icon-facebook:before {
	content: '\ea02';
}

.icon-fax:before {
	content: '\ea03';
}

.icon-instagram:before {
	content: '\ea04';
}

.icon-left-arrow:before {
	content: '\ea05';
}

.icon-left:before {
	content: '\ea06';
}

.icon-linkedin:before {
	content: '\ea07';
}

.icon-marker:before {
	content: '\ea08';
}

.icon-next:before {
	content: '\ea09';
}

.icon-ntr:before {
	content: '\ea0a';
}

.icon-phone:before {
	content: '\ea0b';
}

.icon-play:before {
	content: '\ea0c';
}

.icon-prev:before {
	content: '\ea0d';
}

.icon-review:before {
	content: '\ea0e';
}

.icon-right:before {
	content: '\ea0f';
}

.icon-search:before {
	content: '\ea10';
}

.icon-swipe:before {
	content: '\ea11';
}

.icon-twitter:before {
	content: '\ea12';
}

@charset 'UTF-8';

@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('./fonts/slick.eot');
	src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;

	position: absolute;
	top: 50%;

	display: block;

	width: 20px;
	height: 20px;
	padding: 0;
	transform: translate(0, -50%);

	cursor: pointer;

	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	color: transparent;
	outline: none;
	background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: .25;
}

.slick-prev:before,
.slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;

	opacity: .75;
	color: white;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -25px;
}

[dir='rtl'] .slick-prev {
	right: -25px;
	left: auto;
}

.slick-prev:before {
	content: '←';
}

[dir='rtl'] .slick-prev:before {
	content: '→';
}

.slick-next {
	right: -25px;
}

[dir='rtl'] .slick-next {
	right: auto;
	left: -25px;
}

.slick-next:before {
	content: '→';
}

[dir='rtl'] .slick-next:before {
	content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;

	display: block;

	width: 100%;
	padding: 0;
	margin: 0;

	list-style: none;

	text-align: center;
}

.slick-dots li {
	position: relative;

	display: inline-block;

	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;

	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;

	display: block;

	width: 20px;
	height: 20px;
	padding: 5px;

	cursor: pointer;

	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;

	position: absolute;
	top: 0;
	left: 0;

	width: 20px;
	height: 20px;

	content: '•';
	text-align: center;

	opacity: .25;
	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	opacity: .75;
	color: black;
}

/* Slider */
.slick-slider {
	position: relative;

	display: block;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;

	display: block;
	overflow: hidden;

	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	display: table;

	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;

	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;

	height: auto;

	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	box-sizing: content-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

* {
	outline: 0 none;
}

body {
	line-height: 1.75;
	background: #fff;
	color: #000;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	min-height: 100vh
}

body.inner-page {
	padding-top: 123px;
}

.dfr {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.dfc {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
	padding: 35px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

header .dfr {
	-ms-flex-align: center;
	align-items: center;
}

header .logo {
	display: block;
	width: 132px;
}

header .logo img {
	width: 100%;
}

header .menu {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0px 0 auto;
}

header .menu a:hover:after {
	width: 100%;
}

header .menu li {
	margin-right: 50px
}

header .menu li:last-of-type {
	margin-right: 0;
}

header .menu a {
	color: #000;
	font-size: 14px;
	line-height: 17px;
	padding: 10px 0;
	position: relative
}

header .menu a:after {
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 2px;
	transform: translate(-50%, 0);
	transition: all 0.3s ease;
	background: #000;
	position: absolute;
}

.menu-item-has-children {
	position: relative;
	margin-right: 62px;
}

.menu-item-has-children > a {
	position: relative;
}

.menu-item-has-children > a:before {
	content: '';
	width: 8px;
	height: 8px;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	position: absolute;
	transform: rotate(45deg);
	right: -15px;
	top: 14px;
}

.sub-menu {
	position: absolute;
	display: none;
	background: #fff;
	padding: 15px 30px;
	left: calc(50% + 6px);
	transform: translateX(-50%);
	top: calc(100% + 5px);
	border-radius: 5px;
	box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3);
	width: max-content;
}

.sub-menu:before {
	content: '';
	border: 7px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translateX(-50%);
}

.sub-menu li {
	text-align: center;
	margin-right: 0 !important;
	margin-bottom: 10px;
}

.sub-menu li:last-of-type {
	margin-bottom: 0;
}

.sub-menu a:hover {
	color: #F0BC5E;
}

.sub-menu a:after {
	display: none;
}

@media only screen and (max-width: 991px) {
	header .menu {
		margin: 0 0px 0 auto;
	}

}

@media only screen and (min-width: 768px) {
	.menu-item-has-children:hover .sub-menu {
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	body.inner-page {
		padding-top: 82px;

	}

	header {
		padding: 15px 0;
	}

	header .burger-menu {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-align: center;
		align-items: center;
		width: 40px;
		height: 30px;
		-ms-flex-order: 1;
		order: 1;
		z-index: 3;
		cursor: pointer;
		margin: 0 0 0 auto;
	}

	header .burger-menu span {
		width: 100%;
		height: 4px;
		background: #000;
		transition: all 0.3s ease;
	}

	header .burger-menu.close span:nth-of-type(3) {
		transform: rotate(-45deg) translate(9px, -9px);
	}

	header .burger-menu.close span:nth-of-type(2) {
		opacity: 0;
	}

	header .burger-menu.close span {}

	header .burger-menu.close span:nth-of-type(1) {
		transform: rotate(45deg) translate(9px, 9px);
	}

	header .burger-menu.close + .menu {
		transform: translate(0, 0);
	}

	header .search {
		margin: 0 30px 0 auto;
	}

	header .menu {
		margin: 0;
		position: fixed;
		right: 0;
		background: #fff;
		z-index: 2;
		top: 0;
		height: 100%;
		display: block;
		width: 320px;
		padding: 70px 30px 30px;
		transform: translate(100%, 0);
		transition: all 0.3s ease;
	}

	header .menu li {
		margin-bottom: 15px;
	}

	header .menu a {
		padding: 0;
		font-size: 18px
	}

	header .menu a:hover {
		color: #F0BC5E !important;
	}

	header .menu a:after {
		display: none;
	}

	.menu-item-has-children > a::before {
		top: 4px;
	}

	.sub-menu {
		position: static;
		background: transparent;
		padding: 10px 15px 0;
		left: inherit;
		transform: none;
		top: inherit;
		border-radius: 0px;
		box-shadow: none;
	}

	.sub-menu li {
		text-align: left;
	}

	.sub-menu:before {
		display: none;
	}

}

.search {
	position: relative;
}


.search input[type="search"],
.search input[type="text"] {
	position: absolute;
	max-width: 300px;
	height: 40px;
	border: 1px solid transparent;
	right: 0;
	top: 0;
	box-sizing: border-box;
	width: 0;
	opacity: 0;
}

.search .icon-search {
	width: 40px;
	height: 40px;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: none;
	position: relative;
	z-index: 1;
	background-color: transparent;
}

.search.open input {}

.search.open input[type="search"],
.search.open input[type="text"] {
	padding: 0 40px 0 15px;
	width: 100%;
	min-width: 290px;
	border-color: #C4C4C4;
	color: #000;
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	.search {}

	.search.open input {}

	.search.open input[type="search"],
	.search.open input[type="text"] {
		min-width: 220px;
	}

}

.breadcrumbs > span:after {
	content: '/';
	margin: 0 5px;
	display: inline-block;
}

body.inner-page .banner img {
	width: auto;
}

body.inner-page .banner ul li {
	position: relative;
	padding-left: 20px;
	font-size: 18px;
	margin-bottom: 10px;
	line-height: 1.2;
}

body.inner-page .banner ul li:before {
	content: '';
	top: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #F0BC5E;
	position: absolute;
	left: 0;
}

section {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

h1.title,
h2 {
	font-size: 36px;
	padding-bottom: 15px;
	position: relative;
	margin-bottom: 40px;
	font-weight: 700
}

h1.title:before,
h2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 157px;
	height: 10px;
	background-repeat: no-repeat;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU3IiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgMTU3IDEwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHk9IjMiIHdpZHRoPSI3MyIgaGVpZ2h0PSI0IiByeD0iMiIgZmlsbD0iIzJDMzY4RCIvPjxjaXJjbGUgY3g9Ijk3IiBjeT0iNSIgcj0iNSIgZmlsbD0iIzJDMzY4RCIvPjxjaXJjbGUgY3g9IjEyNSIgY3k9IjUiIHI9IjUiIGZpbGw9IiMyQzM2OEQiLz48Y2lyY2xlIGN4PSIxNTIiIGN5PSI1IiByPSI1IiBmaWxsPSIjMkMzNjhEIi8+PC9zdmc+);
}

.button {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 200px;
	height: 58px;
	border: 2px solid #313131;
	font-size: 18px;
	font-weight: 600;
	border-radius: 42px;
	color: #272727;
	transition: all 0.3s ease
}

.button:hover {
	background: #F0BC5E !important;
	color: #fff;
	border-color: #F0BC5E;
}

@media only screen and (max-width: 1199px) {
	.button {
		width: 170px;
		height: 44px;
		font-size: 16px;
	}
}

body {}

body:not(.inner-page) .banner {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMiIgaGVpZ2h0PSI3NzIiIHZpZXdCb3g9IjAgMCAxNjAyIDc3MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNzYzLjUgNDM0LjVDODQ1LjUgNjY2LjUgMTM1MC44MiA3ODIuODg0IDE2MDggNzcwLjIyMlYwSDI1NS4zMDRIMEMyODkuNzQzIDU3LjE0NjEgNjY4LjU0NiAxNjUuODQ5IDc2My41IDQzNC41WiIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyKSIvPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhciIgeDE9Ijk0MiIgeTE9IjY2NCIgeDI9IjkzNC41IiB5Mj0iLTE5LjUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBzdG9wLWNvbG9yPSIjMkMzNjhEIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjOURBN0ZGIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PC9zdmc+);
	background-position: right top;
	background-size: auto calc(100% - 50px);
	background-repeat: no-repeat;
}

body:not(.inner-page) .banner .dfr {
	-ms-flex-align: center;
	align-items: center;
	padding: 165px 15px 50px;
}

.banner .dfr {
	padding: 115px 15px 75px;
}

.banner .right-block {
	width: calc(100% - 635px);
}

.banner .right-block img {
	margin: 0 auto;
	max-width: 100%;
	display: table;
}

.banner .left-block {
	margin-right: 80px;
	max-width: 555px;
	width: 100%;
}

.banner .left-block h1 {
	font-size: 48px;
	line-height: 59px;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 30px;
	margin-top: 30px
}

.banner .left-block h1:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 157px;
	height: 10px;
	background-repeat: no-repeat;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU3IiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgMTU3IDEwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHk9IjMiIHdpZHRoPSI3MyIgaGVpZ2h0PSI0IiByeD0iMiIgZmlsbD0iIzJDMzY4RCIvPjxjaXJjbGUgY3g9Ijk3IiBjeT0iNSIgcj0iNSIgZmlsbD0iIzJDMzY4RCIvPjxjaXJjbGUgY3g9IjEyNSIgY3k9IjUiIHI9IjUiIGZpbGw9IiMyQzM2OEQiLz48Y2lyY2xlIGN4PSIxNTIiIGN5PSI1IiByPSI1IiBmaWxsPSIjMkMzNjhEIi8+PC9zdmc+);
}

.banner h1 {
	font-size: 48px;
	font-weight: 700;
	color: #000;
	margin-bottom: 25px;
}

.banner p {
	font-size: 16px;
	color: #000;
	margin-bottom: 35px;
}

.banner .description {
	max-width: 555px;
	width: 100%;
}

.banner img {
	margin: 0 0 0 auto;
	width: 35.781vw;
}

@media only screen and (max-width: 1199px) {
	.banner .description {
		max-width: 450px;
		width: 100%;
	}

}

@media only screen and (max-width: 991px) {
	.banner h1 {
		font-size: 40px;
	}

	.banner p {
		font-size: 14px;
	}

	.banner .description {
		max-width: 340px;
	}
}

@media only screen and (max-width: 767px) {
	body {}

	body:not(.inner-page) .banner .dfr {
		padding-top: 100px;
	}
}

@media only screen and (max-width: 579px) {
	body {}

	body:not(.inner-page) h2 {
		text-align: center;
		width: 100%
	}

	body:not(.inner-page) h2:after {
		left: 50%;
		transform: translate(-50%, 0);
	}

	body:not(.inner-page) .banner {
		background-image: none;
	}

	body:not(.inner-page) .banner .description {
		max-width: 100%;
		text-align: center;
	}

	body:not(.inner-page) .banner .description .button {
		margin-left: auto;
		margin-right: auto;
	}

	body:not(.inner-page) .banner img {
		margin: 20px auto 0 auto;
		width: 42.781vw;
	}
}

.mission .item:nth-of-type(3n) {
	margin-right: 0
}

.mission {
	padding-bottom: 50px;
}

.mission .items {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.mission .item {
	width: calc((100% - 80px) / 3);
	margin: 0 40px 40px 0;
	border: 1px solid #d9d9d9;
	border-radius: 18px;
	padding: 30px;
	position: relative
}

.mission .item h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000;
	font-weight: 700;
	margin-bottom: 5px;
	width: calc(100% - 40px)
}

.mission .item p {
	font-size: 14px;
	line-height: 24px;
	color: #000
}

.mission .item:before {
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 27px;
	color: #f0bc5e
}

.technology {
	padding: 50px 0 100px;
	margin-top: 90px;
}

.technology-slider {
	margin-left: -15px;
	margin-right: -15px;
	width: calc(100% + 30px)
}

.technology-slider .slick-track {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 20px 0
}

.technology-slider .item {
	background: #fff;
	border-radius: 13px;
	overflow: hidden;
	margin: 0 20px;
	transition: all .3s ease;
	height: auto !important
}

.technology-slider .item,
.technology-slider .item .img {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.technology-slider .item .img {
	background-color: currentColor;
	height: 106px;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center
}

.technology-slider .item img {
	max-width: 100%
}

.technology-slider .item .description {
	padding: 15px 20px
}

.technology-slider .item h3 {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	margin-bottom: 10px;
	color: #000
}

.technology-slider .item p {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #000
}

.technology-slider .item:hover {
	box-shadow: 0 0 12px rgba(0, 0, 0, .15)
}

@media only screen and (max-width: 991px) {
	.mission .item {
		padding: 15px;
		width: calc((100% - 30px) / 3);
		margin: 0 15px 15px 0
	}

	.mission .item h3 {
		width: calc(100% - 30px);
		font-size: 18px
	}

	.mission .item:before {
		right: 15px;
		top: 15px
	}

	.technology-slider .item {
		margin: 0 7.5px
	}
}

@media only screen and (max-width: 767px) {
	.mission .item:nth-of-type(3n) {
		margin-right: 15px
	}

	.mission .item {
		padding: 15px;
		width: calc((100% - 15px) / 2)
	}

	.mission .item:nth-of-type(2n) {
		margin-right: 0
	}
}

@media only screen and (max-width: 479px) {
	.mission .item {
		padding: 15px;
		width: 100%;
		margin-right: 0 !important
	}
}

.services {
	padding: 70px 0 115px;
}

.services .item-service:nth-of-type(3n) {
	margin-right: 0;
}

.services .item-service {
	width: calc((100% - 80px) / 3);
	margin-right: 40px;
	padding: 30px 25px 40px;
	background: #fff;
	border-radius: 13px;
	transition: all 0.3s ease;
	cursor: pointer;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	position: relative;
}

.services .item-service svg {
	margin-right: 15px;
	width: 56px;
}

.services .item-service svg .hover {
	transition: all 0.3s ease;
}

.services .item-service h3 {
	font-size: 21px;
	font-weight: 700;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
}

.services .item-service p {
	width: 100%;
	font-size: 14px;
	line-height: 1.714;
	color: #000;
	margin-top: 15px;
}

.services .item-service a .link {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.services .item-service a:not(.link) {
	font-size: 10px;
	font-weight: 700;
	color: #F0BC5E;
	display: block;
	right: 25px;
	bottom: 20px;
	position: absolute;
	z-index: 1;
}

.services .item-service:hover {
	box-shadow: 0px 0px 12px rgba(0, 0, 0, .15);
}

.services .item-service:hover svg .hover {
	fill: #F0BC5E;
}

@media only screen and (max-width: 1199px) {
	.services .item-service svg {
		margin: 0 auto 10px;
	}

	.services .item-service h3 {
		width: 100%;
		text-align: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.services .item-service p {
		text-align: center;
	}

	.services .item-service a {}

	.services .item-service a:not(.link) {
		right: 50%;
		transform: translate(50%, 0);
	}
}

@media only screen and (max-width: 991px) {
	.services .item-service {
		width: calc((100% - 45px) / 3);
		margin-right: 15px;
		padding: 30px 15px 40px;
	}

	.services .item-service h3 {
		font-size: 18px;
	}

	.services .item-service p {
		font-size: 12px;
	}
}

@media only screen and (max-width: 767px) {
	.services {
		padding: 30px 0 50px;
	}

	.services .item-service:nth-of-type(3n) {
		margin-right: 15px;
	}

	.services .items {
		-ms-flex-pack: center;
		justify-content: center;
	}

	.services .item-service {
		width: calc((100% - 15px) / 2);
		margin-bottom: 15px;
	}

	.services .item-service h3 {
		font-size: 20px;
	}

	.services .item-service p {
		font-size: 14px;
	}

	.services .item-service:nth-of-type(2n) {
		margin-right: 0;
	}
}

@media only screen and (max-width: 479px) {
	.services .item-service {
		width: 100%;
		margin-bottom: 15px;
		margin-right: 0 !important;
	}
}

.clients {
	padding: 80px 0;
}

.clients .logo {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.clients .logo img {
	max-width: 160px;
	width: 100%;
	height: 92px;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
	display: table;
	margin: 0 auto;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
	filter: grayscale(1);
	transition: all 0.3s ease
}

.clients .logo img:hover {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
	filter: grayscale(0);
}

.clients .clients-slider {
	padding: 10px 0 30px;
}

@media only screen and (max-width: 1429px) {
	.clients .logo img {
		width: 85%;
		height: 40px;
	}
}

.slick-dots {
	z-index: 1;
}

.slick-dots li {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #C4C4C4;
	transition: all 0.3s ease;
	margin: 0 8px;
}

.slick-dots li button {
	display: none;
}

.slick-dots li.slick-active {
	background: #F0BC5E;
	transform: scale(1.6);
}

.team {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYwIiBoZWlnaHQ9IjY2MiIgdmlld0JveD0iMCAwIDY2MCA2NjIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTY1Ny42MDMgNDIyLjM5OEM2MDkuMDE0IDIwNy4wNjEgMCAwLjQ2MTkxNCAwIDAuNDYxOTE0VjY2MS40NjJDMCA2NjEuNDYyIDcwNi4xOTIgNjM3LjczNSA2NTcuNjAzIDQyMi4zOThaIiBmaWxsPSIjMkMzNjhEIi8+PC9zdmc+);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 32%;

}

.team h2 {
	width: 100%;
}

.team .description {
	-ms-flex-align: center;
	align-items: center;
}

.team .description h1 {
	font-size: 48px;
	line-height: 59px;
	font-weight: 700;
	margin-bottom: 30px;
}

.team .description p {
	font-size: 14px;
	line-height: 24px;
}

.team .description .left-block {
	margin-right: 80px;
}

.team .description .right-block img {
	width: 100%;
}

.team .description .left-block,
.team .description .right-block {
	width: calc((100% - 80px) / 2);
}

@media only screen and (max-width: 1199px) {
	.team .description h1 {
		font-size: 40px;
		line-height: 48px;
	}
}

@media only screen and (max-width: 767px) {
	.team {
		background-image: none;
	}

	.team .description .left-block,
	.team .description .right-block {
		width: 100%;
		margin-right: 0;
	}

	.team .description .right-block {
		margin-top: 30px;
	}

}

.team-slider {
	/*
    background: #FAFAFA;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .1);
    border-radius: 21px;
    padding: 35px 45px 45px;
    width: 950px;
*/
}

.team-slider .slick-list {
	overflow: inherit;
}

.team-slider .item {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 50px;
}

.team-slider .item .desc {
	width: calc(100% - 340px);
	padding-left: 50px;
}

.team-slider .img {
	width: 340px;
	/* 	height: 340px;
	border-radius: 50%;
	background: #2C368D; */
}

.team-slider img {
	width: 100%;
	display: table;
	margin: 0 auto;
	transform: translateY(-17px);
}

.team-slider h5 {
	font-weight: 600;
	font-size: 21px;
	color: #000;
}

.team-slider h5 span {
	display: block;
	font-size: 14px;
}

.team-slider ul {
	margin-bottom: 15px;
}

.team-slider ul li {
	color: #F0BC5E;
	font-weight: 600;
	font-size: 14px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.team-slider p {
	margin-bottom: 35px;
}

.team-slider .button {
	height: 44px;
}

@media only screen and (max-width: 991px) {
	.team-slider .img {
		width: 220px;
		height: 220px;
	}

	.team-slider img {
		transform: translateY(-12px);
	}

	.team-slider .item .desc {
		width: calc(100% - 220px);
		padding-left: 20px;
	}
}

@media only screen and (max-width: 767px) {


	.team-slider .item ul.dfr {
		justify-content: center;
	}

	.team-slider ul li {
		margin: 0 5px 5px;
	}

	.team-slider .item .desc {
		width: 100%;
		text-align: center;
		padding-left: 0;
	}

	.team-slider .item .img {
		margin: 0 auto 20px;
	}
}

@media only screen and (max-width: 479px) {
	.team-slider {
		width: 100%;
		margin-top: 0;
	}

	.team-slider .item {
		position: relative
	}

	.team-slider h5,
	.team-slider ul,
	.team-slider p,
	.team-slider .button {
		width: 100%;
		position: relative;
		z-index: 1;
	}
}

.team-photo {
	width: 850px;
	margin: 40px 50px 0 auto !important;
}

.team-photo .item.slick-current {
	border-color: #F0BC5E;
}

.team-photo .slick-arrow.icon-right {
	right: -25px;
	font-size: 27px;
	color: #C4C4C4;
}

.team-photo .slick-arrow.icon-left {
	left: -25px;
	font-size: 27px;
	color: #C4C4C4;
}

.team-photo .slick-dots {
	bottom: -35px;
}

.team-photo .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	cursor: pointer;
	transition: all 0.3s ease
}

.team-photo .slick-arrow:hover {
	color: #F0BC5E;
}

.team-photo .slick-list {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.team-photo .item {
	margin: 0 15px;
	border: 2px solid transparent;
	border-radius: 7px;
	cursor: pointer;
	transition: all 0.3s ease
}

.team-photo .item:not(.slick-current) {}

.team-photo .item:not(.slick-current):hover {
	border-color: #F3F3F3;
}

.team-photo img {
	width: 100%;
	height: 112px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center top;
	object-position: center top;
}

@media only screen and (max-width: 1429px) {
	.team-photo {
		width: 630px;
	}

	.team-photo img {
		height: 75px;
	}
}

@media only screen and (max-width: 1199px) {
	.team-photo {
		width: 540px;
	}

	.team-photo img {
		height: 74px;
	}
}

@media only screen and (max-width: 991px) {
	.team-photo {
		width: 340px;
	}

	.team-photo img {
		height: 80px;
	}
}

@media only screen and (max-width: 767px) {
	.team-photo {
		width: calc(100% - 100px);
	}

	.team-photo img {
		height: calc((100vw - 230px) / 3);
	}
}

@media only screen and (max-width: 479px) {
	.team-photo {
		width: calc(100% + 30px);
		margin-left: -15px !important;
		margin-right: -15px !important;
	}

	.team-photo .slick-arrow.icon-right {
		right: -15px;
	}

	.team-photo .slick-track {
		padding: 50px 0;
	}

	.team-photo .item {
		width: 58.246vw;
		border: 1px solid #C4C4C4;
		margin: 0 5.219vw;
	}

	.team-photo .item img {
		height: 58.246vw;
	}

	.team-photo .item.slick-center {
		transform: scale(1.2);
	}

	.team-photo .slick-arrow {}

	.team-photo .slick-arrow.icon-left {
		left: -15px;
	}
}

.blog {
	padding-top: 120px;
}

.blog .item:hover h4 {
	color: #F0BC5E;
}

.blog .item {
	width: calc((100% - 80px) / 3);
	margin-right: 40px;
	margin-bottom: 40px
}

.blog .item:nth-of-type(3n) {
	margin-right: 0;
}

.blog img {
	width: 100%;
	height: 250px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	margin-bottom: 10px;
}

.blog h4 {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: capitalize;
	color: #000;
	transition: all 0.3s ease;
}

.blog .meta {
	margin-bottom: 5px;
}

.blog .meta li {
	color: #6C6C6C;
	font-size: 10px;
	line-height: 21px;
	margin-right: 10px;
	font-family: 'Open Sans', sans-serif
}

.blog .meta li.date {
	font-weight: 600;
}

.blog p {
	font-size: 14px;
	line-height: 18px;
	color: #000;
}

@media only screen and (max-width: 991px) {
	.blog .item {
		width: calc((100% - 30px) / 3);
		margin-right: 15px;
		margin-bottom: 15px;
	}

	.blog img {
		height: 130px;
	}

	.blog h4 {
		font-size: 16px;
	}

	.blog p {
		font-size: 12px;
	}
}

@media only screen and (max-width: 767px) {
	.blog {
		padding-top: 30px;
	}

	.blog .item:nth-of-type(3n) {
		margin-right: 15px;
	}

	.blog .items {
		-ms-flex-pack: center;
		justify-content: center;
	}

	.blog .item {
		width: calc((100% - 15px) / 2);
		margin-right: 15px
	}

	.blog .item:nth-of-type(2n) {
		margin-right: 0;
	}

	.blog img {
		height: 26.728vw;
	}

	.blog h4 {
		font-size: 20px;
	}

	.blog p {
		font-size: 14px;
	}
}

@media only screen and (max-width: 579px) {
	.blog .item {
		width: 100%;
		margin-right: 0 !important;
		margin-bottom: 30px;
	}

	.clients-slider-updated,
	.technology-slider {
		margin-left: 0 !important;
		margin-right: 0 !important;
		width: 100%;
	}

	.blog img {
		height: auto;
	}
}

.content {
	width: calc(100% - 420px);
	padding-right: 170px;
	padding-bottom: 110px;
}

.content blockquote {
	background: #F9F9F9;
	border-radius: 8px;
	padding: 15px 25px 0;
	display: block;
	overflow: hidden;
	margin-bottom: 25px;
}

.content blockquote p {
	margin-bottom: 15px;
}

.content h6 {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 5px;
}

.content p {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 24px;
}

.content h2 {
	margin-top: 40px;
	margin-bottom: 25px
}

.content h2:first-of-type {
	margin-top: 0;
}

.content strong,
.content b {
	font-weight: 700;
}

.content em,
.content i {
	font-style: italic;
}

.content a {
	color: #F0BC5E;
}

.content ul:not(.meta) li {
	position: relative;
	padding-left: 20px;
	line-height: 1.4;
}

.content ul:not(.meta) li:before {
	content: '';
	top: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #F0BC5E;
	position: absolute;
	left: 0;
}

.content ul,
.content ol {
	margin-bottom: 20px;
}

.content ul li,
.content ol li {
	margin-bottom: 10px;
}

.sidebar {
	width: 420px;
}

.sidebar form {
	width: 420px;
	padding: 30px 85px;
	background: #fff;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, .15);
	border-radius: 14px;
	position: relative;
	z-index: 1;
}

.sidebar form h3 {
	font-weight: 700;
	font-size: 28px;
	color: #000;
	text-align: center;
	margin-bottom: 20px;
}

.sidebar form .input {
	margin-bottom: 20px;
	position: relative;
}

.sidebar form .input label {
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	font-weight: 500;
	pointer-events: none;
	font-size: 16px;
	transition: all 0.3s ease;
	color: #838383;
	z-index: 1;
}

.sidebar form .input.focus input {}

.sidebar form .input.focus input[type="text"],
.sidebar form .input.focus input[type="email"],
.sidebar form .input.focus input[type="tel"] {
	border-color: #F0BC5E;
}

.sidebar form .input.focus label {
	top: 0;
	font-size: 10px;
}

.sidebar form input {}

.sidebar form input[type="text"],
.sidebar form input[type="email"],
.sidebar form input[type="tel"] {
	width: 100%;
	border: none;
	border-bottom: 1px solid #C4C4C4;
	height: 40px;
}

.sidebar form .button {
	width: 100%;
	height: 44px;
	margin-top: 40px;
	background-color: transparent;
}

.map {
	position: relative;
}

.map #map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
}

.map .dfc {
	padding: 70px 15px;
}

.map form {
	width: 420px;
	padding: 30px 85px;
	background: #fff;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, .15);
	border-radius: 14px;
	position: relative;
	z-index: 1;
}

.map form h3 {
	font-weight: 700;
	font-size: 28px;
	color: #000;
	text-align: center;
	margin-bottom: 20px;
}

.map form .input {
	margin-bottom: 20px;
	position: relative;
}

.map form .input label {
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	font-weight: 500;
	pointer-events: none;
	font-size: 16px;
	transition: all 0.3s ease;
	color: #838383;
	z-index: 1;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
	color: #f7e700;
	border: none;
	padding: 0;
	margin: 0 0 -25px !important;
}

.wpcf7-form-control-wrap {
	display: block;
}

.input br {
	display: none;
}

.wpcf7-not-valid-tip {
	font-size: 10px !important;
	position: absolute;
}

.map form .input.focus input {}

.map form .input.focus input[type="text"],
.map form .input.focus input[type="email"],
.map form .input.focus input[type="tel"] {
	border-color: #F0BC5E;
}

.map form .input.focus label {
	top: 0;
	font-size: 10px;
}

.map form input {}

.map form input[type="text"],
.map form input[type="email"],
.map form input[type="tel"] {
	width: 100%;
	border: none;
	border-bottom: 1px solid #C4C4C4;
	height: 40px;
}

.map form .button {
	width: 100%;
	height: 44px;
	margin-top: 40px;
	background-color: transparent;
}

.map.contacts {
	margin-top: 0px;
}

.map.contacts .col-lg-12 {
	min-height: calc(100vh - 257px);
}

.map.contacts ul {
	margin-bottom: 50px;
}

.map.contacts ul li {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 17px;
}

.map.contacts ul strong {
	font-weight: 600;
	font-size: 14px;
	display: block;
}

.map.contacts ul a {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	margin-bottom: 5px
}

.map.contacts ul a:before {
	margin-right: 5px;
}

.map.contacts #map {
	left: inherit;
	width: 50vw;
}

.map.contacts form {
	box-shadow: none;
	max-width: 270px;
	padding: 20px 0;
}

.map.contacts form h3 {
	text-align: left;
}

.details-product.layout-v2 .product_title {
	font-size: 24px !important;
	line-height: 1.167 !important;
}

.select .wpcf7-form-control-wrap {
	position: relative;
	display: block;
}

.select .wpcf7-form-control-wrap:before {
	content: '';
	border: 7px solid transparent;
	border-top: 7px solid #000;
	position: absolute;
	top: calc(50% + 3.5px);
	transform: translateY(-50%);
	right: 10px;
	pointer-events: none;
}

.select {
	margin-top: 35px;
}

.select select {
	width: 100%;
	padding: 0 30px 0 15px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #C4C4C4;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.3s ease;
	color: #838383;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.select label {
	font-weight: 500;
	font-size: 16px;
	transition: all 0.3s ease;
	color: #838383;
	margin-bottom: 5px;
}

.select select::-ms-expand {
	display: none;
}

@media only screen and (max-width: 991px) {
	.map form {
		width: 320px;
		padding: 30px 15px;
	}
}

@media only screen and (max-width: 767px) {
	.map form {
		width: 100%;
	}

	.map .dfc {
		padding: 30px 15px;
	}

	.map #map {
		width: 100%;
		height: 250px;
		position: relative;
	}

	.map.contacts #map {
		width: 100%;
	}

	.map.contacts form {
		max-width: 100%;
	}

	.map.contacts ul li br {
		display: none;
	}
}

.podcast {
	background-image: url(../img/bg.svg), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2MyIgaGVpZ2h0PSI2OTciIHZpZXdCb3g9IjAgMCAxMjYzIDY5NyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNjA3LjgwMiAyNTQuNzI2QzY1My4wMzYgMzkuMjI2MyAxMjY0IDAuMjI2NTYyIDEyNjQgMC4yMjY1NjJWNjk2LjIyN0gwQzAgNjk2LjIyNyA1NjIuNTY4IDQ3MC4yMjYgNjA3LjgwMiAyNTQuNzI2WiIgZmlsbD0iIzJDMzY4RCIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-position: 70% 50%, 100% 100%;
	background-size: auto 85%, auto 100%;
}

.podcast #npAction {
	display: none;
}

.podcast .plyr--full-ui input[type="range"] {
	color: #F0BC5E;
	border-radius: 0;
}

.podcast [data-plyr="play"] {
	position: absolute;
	left: 125px;
	top: 7px;
	transform: translateY(-100%);
	background-color: transparent !important;
	color: #313131 !important;
}

.podcast #nowPlay {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: start;
	align-items: flex-start;
	max-width: 560px;
	width: 100%;
	position: relative;
}

.podcast #nowPlay #npTitle {
	color: #000;
	font-weight: 600;
	font-size: 14px;
	width: calc(100% - 100px);
}

.podcast #nowPlay #tracks {
	width: calc(100% - 100px);
	position: absolute;
	bottom: 0;
	left: 100px;
}

.podcast #nowPlay #tracks a {}

.podcast #nowPlay #tracks a:before {
	font-size: 19px;
	color: #313131;
}

.podcast #nowPlay #tracks .icon-next {
	margin-left: 30px;
}

.podcast #nowPlay img {
	width: 80px;
	height: 80px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	margin-right: 20px;
}

.podcast .dfc {
	padding: 3.646vw 15px 9.635vw;
}

.podcast .player {}

.podcast p {
	font-weight: 600;
	font-size: 12px;
	color: #919191;
}

.podcast #audiowrap {
	max-width: 560px;
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.podcast {
		background-image: none;
	}
}

.podcast-list {
	max-width: 560px;
	width: 100%;
	height: 285px;
	overflow-y: auto;
}

.podcast-list li.active {
	background: #F0BC5E;
}

.podcast-list li {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
	background: #fff;
	transition: all 0.3s ease;
	cursor: pointer;
}

.podcast-list li img {
	width: 45px;
	height: 45px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

.podcast-list li .description {
	width: calc(100% - 45px);
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 20px;
}

.podcast-list li p {
	font-weight: 600;
	font-size: 12px;
	color: #000;
	margin-left: 20px;
}

.podcast-list li:hover {
	background: #f3f3f3;
}

audio {
	display: none;
}

.plItem {
	position: relative;
	width: 100%;
	-ms-flex-align: center;
	align-items: center;
}

.meta p {
	margin-right: 10px;
	color: #6C6C6C;
	font-size: 12px;
	margin-bottom: 0;
}

.blogs .first-posts .post:nth-of-type(2n) {
	width: calc(100% - 960px);
}

.blogs .first-posts .post:nth-of-type(2n) h3 {
	font-size: 18px;
	line-height: 25px;
}

.blogs .first-posts .post {
	margin-bottom: 40px;
}

.blogs .first-posts .post img {
	width: 100% !important;
	height: 377px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center top;
	object-position: center top;
}

.blogs .first-posts .post h3 {
	font-weight: 700;
	color: #000;
	margin-bottom: 10px;
}

.blogs .first-posts .post .meta {
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.blogs .first-posts .post .meta p {}

.blogs .first-posts .post .meta p:last-of-type {
	margin-right: 0;
}

.blogs .first-posts .post img {
	margin-bottom: 20px;
}

.blogs .first-posts .post:nth-of-type(2n-1) {
	width: 920px;
	margin-right: 40px;
}

.blogs .first-posts .post:nth-of-type(2n-1) h3 {
	font-size: 28px;
	line-height: 38px;
}

.blogs .content {
	width: calc(100% - 320px);
	padding-right: 40px;
}

.blogs .content .post:hover .description h3 {
	color: #F0BC5E;
}

.blogs .content .post .description h3 {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	color: #000;
	transition: all 0.3s ease;
}

.blogs .content .post .description p {
	margin-bottom: 0;
	color: #000;
}

.blogs .content .post.dfr {
	margin-bottom: 20px;
}

.blogs .content .post.dfr .description {
	width: calc(100% - 480px);
	padding-top: 20px;
}

.blogs .content .post.dfr img {
	margin-right: 40px;
}

.blogs .content .post.dfr .meta {
	margin-bottom: 10px;
}

.blogs .content .right-block {
	width: calc(100% - 480px);
	margin-bottom: 30px;
}

.blogs .content .right-block .post {
	-ms-flex-align: start;
	align-items: flex-start;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #C4C4C4;
}

.blogs .content .right-block .post img {
	margin-right: 0;
}

.blogs .content .right-block .post .description {
	padding-top: 0;
	width: calc(100% - 202px);
	padding-left: 20px
}

.blogs .content .right-block .post .description > p {
	display: none;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0px 3px 2px 1px #0000001f;
}

.slick-arrow:hover {
	box-shadow: 0px 3px 2px 1px #0000003b;
}

.slick-arrow.icon-left {
	left: -40px;
}

.slick-arrow.icon-right {
	right: -40px;
}

.blogs .content .right-block .post:last-of-type {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.blogs .content .left-block {
	width: 440px;
	margin-right: 40px;
	margin-bottom: 30px;
}

.blogs .content .left-block img {
	width: 100%;
}

.blogs .content .left-block .post h3 {
	font-size: 18px;
	line-height: 25px;
}

.blogs .content .left-block .post.dfc img {
	margin-bottom: 20px;
}

.blogs .content .left-block .meta {
	margin-bottom: 10px;
}

.blogs .sidebar {
	width: 320px;
}

.blogs .sidebar form {
	width: 320px;
	padding: 25px;
	background: #F9F9F9;
}

.blogs .sidebar form input {}

.blogs .sidebar form input[type="tel"],
.blogs .sidebar form input[type="text"],
.blogs .sidebar form input[type="email"] {
	background-color: transparent;
}

.blogs .sidebar .news {
	margin-top: 50px;
}

.blogs .sidebar .news .post.dfr .description {
	width: calc(100% - 115px);
	padding-left: 20px;
}

.blogs .sidebar .news .post.dfr .description h3 {
	font-size: 14px;
	color: #000;
	line-height: 21px;
}

.blogs .sidebar .news .post:last-of-type {
	border: none;
}

.blogs .sidebar .news .post {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #C4C4C4
}

.blogs .sidebar .news .post:hover .description h3 {
	color: #F0BC5E;
}

.blogs .sidebar .news > h3 {
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #C4C4C4;
}

.blogs .news .post h3 {
	font-weight: 700;
}

.blogs .news .post.dfr p {}

@media only screen and (max-width: 1429px) {
	.blogs .first-posts .post:nth-of-type(2n) {
		width: calc(100% - 780px);
	}

	.blogs .first-posts .post img {
		height: 275px;
	}

	.blogs .first-posts .post:nth-of-type(2n-1) {
		width: 752px;
		margin-right: 28px;
	}

	.blogs .content {
		padding-right: 28px;
	}

	.blogs .content p {
		font-size: 12px;
		line-height: 18px;
	}

	.blogs .content .post {}

	.blogs .content .post.dfr {
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.blogs .content .post.dfr img {
		margin-right: 28px;
		width: 360px;
	}

	.blogs .content .post.dfr .description {
		width: calc(100% - 388px);
		padding-top: 0;
	}

	.blogs .content .left-block {
		width: 360px;
		margin-right: 28px;
	}

	.blogs .content .right-block {
		width: calc(100% - 388px);
	}

	.blogs .content .right-block .post .description {
		width: calc(100% - 160px);
	}

	.blogs .content .right-block .post .description h3 {
		font-size: 14px;
		line-height: 18px;
	}

	.blogs .content .right-block .post.dfr img {
		width: 160px;
		margin-right: 0;
	}
}

@media only screen and (max-width: 1280px) {
	.slick-arrow.icon-left {
		left: -25px;
	}

	.slick-arrow.icon-right {
		right: -25px;
	}
}

@media only screen and (max-width: 1199px) {
	.blogs .first-posts .post:nth-of-type(2n) {
		width: calc(100% - 640px);
	}

	.blogs .first-posts .post img {
		height: 229px;
	}

	.blogs .first-posts .post:nth-of-type(2n-1) {
		width: 625px;
		margin-right: 15px;
	}

	.blogs .first-posts .post:nth-of-type(2n-1) h3 {
		font-size: 23px;
		line-height: 38px;
	}

	.blogs .sidebar .news .post {}

	.blogs .sidebar .news .post.dfr .description {
		padding-left: 15px;
	}

	.blogs .content {
		padding-right: 15px !important;
	}

	.blogs .content .post.dfr {
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.blogs .content .post.dfr img {
		margin-right: 15px;
		width: 160px;
	}

	.blogs .content .post.dfr .description {
		width: calc(100% - 175px);
		padding-top: 0;
	}

	.blogs .content .post.dfr .description > p {
		display: none;
	}

	.blogs .content .post {
		padding-bottom: 15px;
		border-bottom: 1px solid #C4C4C4;
	}

	.blogs .content .post .description h3 {
		font-size: 14px;
		line-height: 18px;
	}

	.blogs .content .post.dfr {
		margin-bottom: 15px;
	}

	.blogs .content .left-block {
		width: 100%;
		margin-right: 0px;
	}

	.blogs .content .left-block .post {
		padding-bottom: 0;
		border-bottom: none;
	}

	.blogs .content .news > .post {}

	.blogs .content .news > .post:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.blogs .content .right-block {
		width: 100%;
		margin-bottom: 0;
	}

	.blogs .content .right-block .post.dfr img {
		width: 160px;
		margin-right: 0;
	}

	.blogs .content .right-block .post .description {
		width: calc(100% - 160px);
	}

	.blogs .content .right-block .post .description h3 {
		font-size: 14px;
		line-height: 18px;
	}

	.blogs .content .right-block .post:last-of-type {
		border-bottom: 1px solid #C4C4C4;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 1023px) {
	.slick-arrow.icon-left {
		left: -5px;
		z-index: 1;
	}

	.slick-arrow.icon-right {
		right: -5px;
		z-index: 1;
	}

	.slick-initialized .slick-slide.clients_slider_item {
		margin-left: 7.5px;
		margin-right: 7.5px;

	}
}

@media only screen and (max-width: 991px) {
	.inner-page .blogs .sidebar {
		width: 260px;
	}

	.inner-page .blogs .sidebar form {
		width: 260px;
	}

	.inner-page .blogs .content {
		width: calc(100% - 260px);
	}

	.blogs .first-posts .post:nth-of-type(2n) {
		width: calc(100% - 492px);
	}

	.blogs .first-posts .post:nth-of-type(2n) h3 {
		font-size: 15px;
		line-height: 22px;
	}

	.blogs .first-posts .post img {
		height: 175px;
	}

	.blogs .first-posts .post:nth-of-type(2n-1) {
		width: 477px;
	}

	.blogs .first-posts .post:nth-of-type(2n-1) h3 {
		font-size: 22px;
		line-height: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.inner-page .blogs .content {
		width: 100%;
		padding-right: 0 !important;
		padding-bottom: 30px;
	}

	.inner-page .blogs .sidebar {
		width: 100%;
	}

	.inner-page .blogs .sidebar form {
		width: 100%;
	}

	.blogs .first-posts .post:nth-of-type(2n) {
		width: 100%;
	}

	.blogs .first-posts .post:nth-of-type(2n) img {
		height: auto;
	}

	.blogs .first-posts .post:nth-of-type(2n) h3 {
		font-size: 22px;
		line-height: 30px;
	}

	.blogs .first-posts .post {}

	.blogs .first-posts .post:nth-of-type(2n-1) {
		width: 100%;
		margin-right: 0px;
	}

	.blogs .first-posts .post:nth-of-type(2n-1) img {
		height: 73.664vw;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: center;
		object-position: center;
	}

	.blogs .first-posts .post:nth-of-type(2n-1) h3 {
		font-size: 22px;
		line-height: 30px;
	}
}

@media only screen and (max-width: 479px) {
	.inner-page .blogs .sidebar .news .post {
		border-bottom: none;
	}

	.blogs .post h3 {
		font-size: 18px !important;
		line-height: 1.4 !important;
	}

	.blogs .post.dfr {
		-ms-flex-direction: column;
		flex-direction: column;
		border-bottom: none;
	}

	.blogs .post.dfr img {
		width: 100% !important;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.blogs .post.dfr .description {
		width: 100% !important;
		padding-left: 0 !important;
	}

	.blogs .post.dfr .meta {
		margin-bottom: 0;
	}
}

.breadcrumbs {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 25px 0 40px;
	width: 100%;
}

/*.breadcrumbs a {*/
/*    color: red;*/
/*}*/

.breadcrumbs > span {
	position: relative;
	display: block;
}

.breadcrumbs > span:last-of-type {}

.breadcrumbs > span:last-of-type:after {
	display: none;
}

.pagination {
	margin-top: 30px;
}

.pagination .page-numbers.next:before {
	right: 2.5px;
}

.pagination .page-numbers.next,
.pagination .page-numbers.prev {
	font-size: 0;
	position: relative;
}

.pagination .page-numbers.next:hover:before,
.pagination .page-numbers.prev:hover:before {
	border-color: #F0BC5E;
}

.pagination .page-numbers.next:before,
.pagination .page-numbers.prev:before {
	content: '';
	position: relative;
	width: 10px;
	height: 10px;
	border-top: 2px solid #969696;
	border-right: 2px solid #969696;
	transform: rotate(45deg);
	transition: all 0.3s ease;
}

.pagination .page-numbers.dots {
	pointer-events: none;
}

.pagination .page-numbers.prev:before {
	transform: rotate(225deg);
	left: 2.5px;
}

.pagination .page-numbers.current {
	border-color: #F0BC5E;
	background: #F0BC5E;
	color: #fff;
	pointer-events: none;
}

.pagination .nav-links {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.pagination .screen-reader-text {
	display: none;
}

.pagination .page-numbers {
	min-width: 32px;
	height: 32px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #dfdfdf;
	margin-right: 10px;
	color: #969696;
	transition: all 0.3s ease
}

.pagination .page-numbers:hover {
	border-color: #F0BC5E;
	color: #F0BC5E;
}

@media only screen and (max-width: 479px) {
	.pagination .page-numbers {
		margin-right: 5px;
	}
}

.inner-blog .content {
	display: block;
	padding-bottom: 0;
}

.inner-blog .content .meta {
	font-weight: 500;
	font-size: 12px;
	padding-left: 15px;
	margin-bottom: 10px;
	padding-left: 0;
}

.inner-blog .content .meta li {
	padding-left: 0;
	margin-right: 10px;
	margin-bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.inner-blog .content .meta li:after {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #000;
	margin-left: 10px;
	content: '';
	position: relative;
	display: inline-block;
}

.inner-blog .content .meta li:last-of-type:after {
	display: none;
}

.inner-blog .content img {
	max-width: 100%;
	margin-bottom: 20px;
}

.inner-blog .content .align-left {
	margin-right: 20px;
	float: left;
}

.inner-blog .content .align-right {
	float: right;
	margin-left: 20px;
}

.inner-blog .content .align-center {
	margin: 0 auto;
	display: table;
}

.inner-blog .content .meta {
	width: 100%;
}

.inner-blog .content h2,
.inner-blog .content h3,
.inner-blog .content h4,
.inner-blog .content h5,
.inner-blog .content h6,
.inner-blog .content p,
.inner-blog .content ol,
.inner-blog .content ul,
.inner-blog .content blockquote {
	margin-bottom: 20px;
}

.inner-blog .content p,
.inner-blog .content ul li,
.inner-blog .content ol li {
	font-size: 14px;
	line-height: 24px;
	color: #000;
}

.inner-blog .breadcrumbs {
	margin-bottom: 10px;
}

.inner-blog .content h1 {
	font-size: 36px;
	padding-bottom: 0;
	margin: 0;
}

.inner-blog .content h1:after {
	display: none !important;
}

.inner-blog .content h2 {
	text-align: left;
	padding-bottom: 0;
	font-size: 32px
}

.inner-blog .content h2:after {
	display: none;
}

.inner-blog .content h3 {
	font-size: 28px;
}

.inner-blog .content h4 {
	font-size: 24px;
}

.inner-blog .content h5 {
	font-size: 20px;
}

.inner-blog .content h6 {
	font-size: 16px;
}

.inner-blog .content ol {
	padding-left: 35px;
}

.inner-blog .content ol li {
	list-style: decimal;
	margin-bottom: 10px
}

.inner-blog .content ol li:last-of-type {
	margin-bottom: 0;
}

.inner-blog .content ul {}

.inner-blog .content ul:not(.meta) {
	padding-left: 22px;
	margin-bottom: 10px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 0px;
}

.inner-blog .content ul:not(.meta) li:last-of-type {
	margin-bottom: 0;
}

.inner-blog .content ul:not(.meta) li {
	display: table
}

.inner-blog .content ul:not(.meta) li:before {
	position: absolute;
	display: inline-block;
	top: 7px;
	left: 0px;
}

.inner-blog .content em,
.inner-blog .content i {
	font-style: italic;
}

.inner-blog .content a {
	color: #F0BC5E;
	display: inline-block;
}

.inner-blog .content h1,
.inner-blog .content h2,
.inner-blog .content h3,
.inner-blog .content h4,
.inner-blog .content h5,
.inner-blog .content h6,
.inner-blog .content b,
.inner-blog .content strong {
	font-weight: 700;
}

.inner-blog .content blockquote {
	padding-bottom: 15px;
	border: 1px solid #F0BC5E;
	padding: 40px 90px;
	background: #fff;
}

.inner-blog .content blockquote h4 {
	color: #F0BC5E;
	margin-bottom: 0;
}

.inner-blog .content blockquote p {}

.inner-blog .content blockquote p:last-child {
	margin-bottom: 0;
}

.inner-blog .content > img {
	width: 100%;
}

.inner-blog + .blog {
	padding-top: 40px;
}

@media only screen and (max-width: 991px) {
	.blogs {}

	.blogs.inner-blog .content {
		width: 100%;
		padding-right: 0;
	}
}

@media only screen and (max-width: 767px) {
	.blogs {}

	.blogs.inner-blog .content .align-right,
	.blogs.inner-blog .content .align-left {
		float: none;
		margin-right: 0;
		margin-left: 0;
	}
}

@media only screen and (max-width: 479px) {
	.blogs {}

	.blogs.inner-blog .content h1 {
		font-size: 24px;
	}

	.blogs.inner-blog .content h2 {
		font-size: 22px;
	}

	.blogs.inner-blog .content h3 {
		font-size: 20px;
	}

	.blogs.inner-blog .content h4 {
		font-size: 18px;
	}

	.blogs.inner-blog .content h5 {
		font-size: 16px;
	}

	.blogs.inner-blog .content h6 {
		font-size: 14px;
	}

	.blogs.inner-blog .content blockquote {
		padding: 25px 15px;
	}
}

.comments {
	padding: 40px 0;
}

.comments form {
	position: relative;
	z-index: 1;
	max-width: 500px;
	width: 100%;
}

.comments form h3 {
	font-weight: 700;
	font-size: 28px;
	color: #000;
	text-align: center;
	margin-bottom: 20px;
}

.comments form .input .button {
	margin-top: 0;
}

.comments form .textarea {
	margin-bottom: 20px;
	position: relative;
}

.comments form .textarea label {
	position: absolute;
	transform: translate(0, -50%);
	top: 25px;
	left: 15px;
	font-weight: 500;
	pointer-events: none;
	font-size: 16px;
	transition: all 0.3s ease;
	color: #838383;
	background: #fff;
}

.comments form .textarea textarea {
	padding: 15px;
	border: 1px solid #C4C4C4;
	height: 235px;
	resize: none;
	width: 100%;
}

.comments form .textarea.focus label {
	top: 0;
	font-size: 10px;
}

.comments form .input {
	margin-bottom: 20px;
	position: relative;
}

.comments form .input label {
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	font-weight: 500;
	pointer-events: none;
	font-size: 16px;
	transition: all 0.3s ease;
	color: #838383;
	z-index: 1;
}

.comments form .input.focus input {}

.comments form .input.focus input[type="text"],
.comments form .input.focus input[type="email"],
.comments form .input.focus input[type="tel"] {
	border-color: #F0BC5E;
}

.comments form .input.focus label {
	top: 0;
	font-size: 10px;
}

.comments form input {}

.comments form input[type="text"],
.comments form input[type="email"],
.comments form input[type="tel"] {
	width: 100%;
	border: none;
	border-bottom: 1px solid #C4C4C4;
	height: 40px;
}

.comments form .button {
	width: 100%;
	height: 44px;
	margin-top: 40px;
	background-color: transparent;
}

.comments .items {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 0;
}

.comments .item {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background: #F6F6F6;
	margin-bottom: 15px;
	padding: 20px 25px;
}

.comments .item ul {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center;
	color: #A7A7A7
}

.comments .item ul.desc {
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-direction: column;
	flex-direction: column;
}

.comments .item ul.desc li {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 12px;
	color: #000;
}

.comments .item ul.desc li span {
	color: #FF8A00;
	margin: 0 3px;
	display: inline-block;
	text-transform: capitalize
}

.comments .item ul.desc li span:first-of-type {
	margin-left: 6px;
}

.comments .item .user {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 15px;
}

.comments .item img {
	width: 45px;
	height: 45px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	margin-right: 15px;
}

.comments .item h5 {
	font-weight: 600;
	font-size: 15px;
}

.comments .item p.date {
	margin: 5px 0 0px;
}

footer {
	background: #282828;
	padding-top: 60px;
	margin: auto 0 0 0;

}

footer ul.soc li {
	margin: 0 10px;
	width: 32px;
	height: 32px;
	position: relative;
	border-radius: 50%;
	border: 1px solid #989898;
	color: #989898;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 15px;

}

footer ul.soc li a {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

}

footer .dfr {
	-ms-flex-align: center;
	align-items: center;

}

footer .copyright {
	width: 100%;
	text-align: center;
	font-size: 10px;
	color: #fff;
	margin: 40px 0 25px;

}

footer ul {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

footer ul.menu {
	margin: 0 auto;

}

footer ul.menu a:hover:after {
	width: 100%;

}

footer ul.menu li {
	margin: 0 15px;

}

footer ul.menu a {
	color: #fff;
	font-size: 14px;
	line-height: 17px;
	padding: 10px 0;
	position: relative
}

footer ul.menu a:after {
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 2px;
	transform: translate(-50%, 0);
	transition: all 0.3s ease;
	background: #fff;
	position: absolute;

}

footer .logo {
	display: block;

}

footer .logo img {
	width: 132px;

}

.inner-page .team {
	background-position: 0 calc(100% - 100px);
	padding-bottom: 100px;
}

@media only screen and (max-width: 1199px) {
	.inner-page .banner .dfr {
		padding: 50px 15px 75px;
	}

	.inner-page .banner .dfr h1 {
		margin-top: 0;
	}

	.inner-page .sidebar {
		width: 320px;
	}

	.inner-page .sidebar form {
		width: 320px;
		padding: 30px 15px;
	}

	.inner-page .content {
		width: calc(100% - 320px);
		padding-right: 30px;
	}
}

@media only screen and (max-width: 991px) {
	.inner-page .banner .left-block {
		width: 350px;
		margin-right: 30px;
	}

	.inner-page .banner .right-block {
		width: calc(100% - 385px);
	}

	footer ul.menu li {
		margin: 0px 5px;
	}

	footer ul.soc li {
		margin: 0 5px;
	}

	footer .logo img {
		width: 85px;
	}
}

@media only screen and (max-width: 767px) {
	.inner-page .banner h1 {}

	.inner-page .banner h1:after {
		left: 50%;
		transform: translate(-50%, 0);
	}

	.inner-page .banner .left-block {
		width: 100%;
		margin-right: 0;
		max-width: 100%;
		text-align: center;
	}

	.inner-page .banner .right-block {
		width: 100%;
	}

	.inner-page .banner .dfr {
		padding: 30px 15px;
	}

	.inner-page .content {
		width: 100%;
		margin-right: 0;
		padding-right: 0;
		padding-bottom: 0;
	}

	.inner-page .sidebar {
		width: 100%;
		margin-bottom: 50px;
	}

	.inner-page .sidebar form {
		width: 100%;
	}

	footer p.copyright.dev,
	footer p.copyright {
		width: 100%;
		text-align: center;
		margin-top: 0;
	}

	.soc {
		margin: 15px auto;
	}

	footer .logo img {
		width: 132px;
	}

	footer .dfr {
		flex-direction: column;
	}
}



@media only screen and (max-width: 679px) {
	footer .dfr {
		-ms-flex-direction: column;
		flex-direction: column;

	}

	footer ul {}

	footer ul.menu {
		margin: 30px 0;

	}

	footer ul.menu li {
		margin: 0px 10px;

	}
}

@-webkit-keyframes gradienteBG {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradienteBG {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 9999;
	display: none;
}

.preloader::before {
	content: "";
	width: 50px;
	height: 50px;
	position: fixed;
	top: calc(50% - 50px);
	right: calc(50% - 50px);
	border: 4px solid #fff;
	border-right: 4px solid #2C368D;
	border-left: 4px solid #2C368D;
	border-radius: 100%;
	-webkit-animation-name: rodar;
	animation-name: rodar;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes rodar {

	0%,
	100% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);
	}

	50% {
		-webkit-transform: rotate(360deg) scale(1.2);
		transform: rotate(360deg) scale(1.2);
	}
}

@keyframes rodar {

	0%,
	100% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);
	}

	50% {
		-webkit-transform: rotate(360deg) scale(1.2);
		transform: rotate(360deg) scale(1.2);
	}
}


.team-slider .item {
	margin-top: 0px;
}

div.team-slider {
	margin: 0px auto 0px;
}

.team h2 {
	margin-bottom: 100px;
}

@media screen and (min-width:1140px) {
	.team-line-container {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

.banner-team {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI0MzEiIHZpZXdCb3g9IjAgMCAxOTIwIDQzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTS0xMjkuNSA0MzAuMTNMMTk1OCA0MzAuMTNDMjA1MC4xNyAyOTUuOTYzIDIyMjEgMTAxLjIzIDIxNjcgMTE1LjYzQzIwOTkuNSAxMzMuNjMgMTkxOC42NCAxMzMuODE4IDE3MDAuNSA1Ni45OTk5QzEzOTkuNSAtNDguOTk5OSAxMjc0IDMuOTk5OTcgMTAxOCAxMzUuNjNDNzc0Ljk3OSAyNjAuNTg2IDYzOS41IDE0Ni42MyAzNzYuNSAxMzUuNjNDMTI1IDEyNS4xMTEgLTY4IDMzNS43OTcgLTEyOS41IDQzMC4xM1oiIGZpbGw9InVybCgjcGFpbnQwX2xpbmVhcikiLz4KPGRlZnM+CjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhciIgeDE9IjEyNTEuOTIiIHkxPSIzNjEuODg1IiB4Mj0iMTI0OS43MyIgeTI9Ii03My40NjA1IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IiMyQzM2OEQiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjOURBN0ZGIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg==");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.banner-team img {
	margin-bottom: -6px;
	width: 100%;
}

.banner-team .icon-swipe {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	font-size: 32px;
	color: #2C368D;
	display: none;
	pointer-events: none;
}

.banner-team + .team {
	background: none;
}

.partners {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 80px;
}

.partners .partner {
	position: relative;
}

.partners .link {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.partners .img {
	margin: 0 auto 20px;
	position: relative;
	overflow: hidden;
	max-width: 329px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjkuNSAzODkuMjgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMDA4YjE1O308L3N0eWxlPjwvZGVmcz48dGl0bGU+0KDQtdGB0YPRgNGBIDE8L3RpdGxlPjxnPjxnPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMTY0LjUiIGN5PSIyMjQuNzgiIHI9IjE2NC4zOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExMC43NiAxODIuMTYpIHJvdGF0ZSgtNDUpIi8+PHBhdGggZD0iTTE2NC41LDYwLjUzQTE2NC4yNiwxNjQuMjYsMCwxLDEsNDguMzYsMTA4LjY0LDE2My4xNCwxNjMuMTQsMCwwLDEsMTY0LjUsNjAuNTNtMC0uMjVBMTY0LjUsMTY0LjUsMCwxLDAsMzI5LDIyNC43OCwxNjQuNSwxNjQuNSwwLDAsMCwxNjQuNSw2MC4yOFoiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjAuNSIgd2lkdGg9IjMyOSIgaGVpZ2h0PSIyMjQuNzgiLz48L2c+PC9nPjwvc3ZnPg==");
	mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjkuNSAzODkuMjgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMDA4YjE1O308L3N0eWxlPjwvZGVmcz48dGl0bGU+0KDQtdGB0YPRgNGBIDE8L3RpdGxlPjxnPjxnPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMTY0LjUiIGN5PSIyMjQuNzgiIHI9IjE2NC4zOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExMC43NiAxODIuMTYpIHJvdGF0ZSgtNDUpIi8+PHBhdGggZD0iTTE2NC41LDYwLjUzQTE2NC4yNiwxNjQuMjYsMCwxLDEsNDguMzYsMTA4LjY0LDE2My4xNCwxNjMuMTQsMCwwLDEsMTY0LjUsNjAuNTNtMC0uMjVBMTY0LjUsMTY0LjUsMCwxLDAsMzI5LDIyNC43OCwxNjQuNSwxNjQuNSwwLDAsMCwxNjQuNSw2MC4yOFoiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjAuNSIgd2lkdGg9IjMyOSIgaGVpZ2h0PSIyMjQuNzgiLz48L2c+PC9nPjwvc3ZnPg==");
	mask-mode: alpha;
	-webkit-mask-position: bottom center;
	mask-position: bottom center;
	-webkit-mask-size: 329px;
	mask-size: 329px
}

.partners .img:before {
	background: #2c368d;
	content: '';
	position: absolute;
	width: 329px;
	height: 329px;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	z-index: -1;
}

.partners h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

.partners h4 {
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	color: #F0BC5E;
	line-height: 1.2;
}

.partners img {
	width: 100%;
	max-width: 329px;
	height: 360px;
	object-fit: contain;
}

.partners:not(.slider) .partner {
	width: calc((100% - 80px) / 3);
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.partners.slider .partner img{
	height: 196px;
}
.team {
	padding: 80px 0 120px;
}

.team h2 {
	text-align: center;
	font-size: 38px;
	line-height: 46px;
	margin-bottom: 30px;
}

.team h2:after {
	display: none;
}

.inner-team .dfr {
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 90px;
}

.inner-team .desc {
	padding-left: 120px;
	width: calc(100% - 560px);
}

.inner-team .desc .back:before {
	margin-right: 5px;
	font-size: 30px;
}

.inner-team .desc h3 {
	font-weight: 600;
	font-size: 32px;
	color: #000;
	margin-bottom: 10px;
}

.inner-team .desc h4 {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #F0BC5E;
	margin-bottom: 10px;
}

.inner-team .desc p {
	font-size: 20px;
	line-height: 1.6;
	color: #000000;
	margin: 20px 0 10px;
}

.inner-team .desc .meta {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 10px 0;
}

.inner-team .desc .meta li:last-of-type:after {
	display: none;
}

.inner-team .desc .meta li {
	position: relative;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px
}

.inner-team .desc .meta li:after {
	content: ',';
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.inner-team .desc .soc {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 30px 0 60px;
}

.inner-team .desc .soc li:before {
	font-size: 35px;
	color: #2C368D;
	transition: all 0.3s ease;
}

.inner-team .desc .soc li {
	margin-right: 45px;
	position: relative;
}

.inner-team .desc .soc li a {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.inner-team .desc .soc li:hover {}

.inner-team .desc .soc li:hover:before {
	color: #F0BC5E;
}

.inner-team .desc .back {
	font-weight: 600;
	font-size: 18px;
	color: #2C368D;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	transition: all 0.3s ease;
	margin-top: 40px;
}

.inner-team .desc .back:hover {
	color: #F0BC5E;
}

.inner-team .partners {}

.inner-team .partners:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 183px;
	background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	z-index: 1;
	pointer-events: none;
}

.inner-team .partners {
	margin-top: 90px;
}

.inner-team .partner {
	position: relative
}

.inner-team .partner:not(.slick-current) {}

.inner-team .partner:not(.slick-current):before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(255, 255, 255, .4);
	z-index: 1;
}

.inner-team .img {
	width: 100%;
	margin: 0 0 20px;
	position: relative;
	overflow: hidden;
	max-width: 560px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjkuNSAzODkuMjgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMDA4YjE1O308L3N0eWxlPjwvZGVmcz48dGl0bGU+0KDQtdGB0YPRgNGBIDE8L3RpdGxlPjxnPjxnPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMTY0LjUiIGN5PSIyMjQuNzgiIHI9IjE2NC4zOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExMC43NiAxODIuMTYpIHJvdGF0ZSgtNDUpIi8+PHBhdGggZD0iTTE2NC41LDYwLjUzQTE2NC4yNiwxNjQuMjYsMCwxLDEsNDguMzYsMTA4LjY0LDE2My4xNCwxNjMuMTQsMCwwLDEsMTY0LjUsNjAuNTNtMC0uMjVBMTY0LjUsMTY0LjUsMCwxLDAsMzI5LDIyNC43OCwxNjQuNSwxNjQuNSwwLDAsMCwxNjQuNSw2MC4yOFoiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjAuNSIgd2lkdGg9IjMyOSIgaGVpZ2h0PSIyMjQuNzgiLz48L2c+PC9nPjwvc3ZnPg==");
	mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjkuNSAzODkuMjgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMDA4YjE1O308L3N0eWxlPjwvZGVmcz48dGl0bGU+0KDQtdGB0YPRgNGBIDE8L3RpdGxlPjxnPjxnPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMTY0LjUiIGN5PSIyMjQuNzgiIHI9IjE2NC4zOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExMC43NiAxODIuMTYpIHJvdGF0ZSgtNDUpIi8+PHBhdGggZD0iTTE2NC41LDYwLjUzQTE2NC4yNiwxNjQuMjYsMCwxLDEsNDguMzYsMTA4LjY0LDE2My4xNCwxNjMuMTQsMCwwLDEsMTY0LjUsNjAuNTNtMC0uMjVBMTY0LjUsMTY0LjUsMCwxLDAsMzI5LDIyNC43OCwxNjQuNSwxNjQuNSwwLDAsMCwxNjQuNSw2MC4yOFoiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjAuNSIgd2lkdGg9IjMyOSIgaGVpZ2h0PSIyMjQuNzgiLz48L2c+PC9nPjwvc3ZnPg==");
	mask-mode: alpha;
	-webkit-mask-position: bottom center;
	mask-position: bottom center;
	-webkit-mask-size: 560px;
	mask-size: 560px;
}

.inner-team .img img {
	width: 100%;
	height: auto;
}

.inner-team .img:before {
	background: #2c368d;
	content: '';
	position: absolute;
	width: 560px;
	height: 560px;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	z-index: -1;
}

.partners.slider .slick-list {
	width: 100%;
}

.partners.slider {
	width: calc(100% + 20px);
	margin-left: -10px;
	margin-right: 10px;
}

.partners.slider .slick-arrow[class*="icon-"],
.partners.slider .slick-arrow[class^="icon-"] {
	position: absolute;
	top: 110px;
	transform: translate(0, -50%);
	background: #FFFFFF;
	box-shadow: 0px 4px 2px rgba(0, 0, 0, .15);
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 2;
}

.partners.slider .slick-arrow.icon-left {
	left: -50px;
}

.partners.slider .slick-arrow.icon-right {
	right: -50px;
}

.partners.slider .slick-list {
	width: 100%;
}

.partners.slider .partner {
	margin: 0 10px;
	cursor: pointer;
}

.partners.slider .partner h3,
.partners.slider .partner h4 {
	font-size: 15px;
}

.partners.slider .partner .img {
	-webkit-mask-size: 180px;
	mask-size: 180px;
}

.partners.slider .partner .img:before {
	width: 180px;
	height: 180px;
}

@media only screen and (max-width: 1539px) {
	.partners.slider {
		width: calc(100% - 100px);
		margin-left: auto;
		margin-right: auto;
	}

	.partners.slider .partner .img {
		-webkit-mask-size: 166px;
		mask-size: 166px
	}

	.partners.slider .partner .img:before {
		width: 166px;
		height: 166px;
	}
	.partners.slider .partner img {
		height: 176px;
	}
}

@media only screen and (max-width: 1429px) {
	.partners.slider .partner .img {
		-webkit-mask-size: 154px;
		mask-size: 154px
	}

	.partners.slider .partner .img:before {
		width: 154px;
		height: 154px;
	}
	.partners.slider .partner img {
		height: 168px;
	}
	.partners.slider .slick-arrow[class*="icon-"], .partners.slider .slick-arrow[class^="icon-"] {
		top: 90px;
	}
}

@media only screen and (max-width: 1199px) {
	.partners .img {
		-webkit-mask-size: 286px;
		mask-size: 286px
	}

	.partners .img:before {
		width: 286px;
		height: 286px;
	}

	.inner-team .img {
		max-width: 360px;
		-webkit-mask-size: 360px;
		mask-size: 360px
	}

	.inner-team .img:before {
		width: 360px;
		height: 360px;
	}

	.inner-team .desc {
		padding-left: 30px;
		width: calc(100% - 360px);
	}

	.partners.slider .partner .img {
		-webkit-mask-size: 190px;
		mask-size: 190px
	}

	.partners.slider .partner .img:before {
		width: 190px;
		height: 190px;
	}
	.partners img {
		height: 313px;
	}
	.partners.slider .partner img {
		height: 215px;
	}
	.partners.slider .partner img {
		height: 206px;
	}
	.partners.slider .slick-arrow[class*="icon-"], .partners.slider .slick-arrow[class^="icon-"] {
		top: 110px;
	}
}

@media only screen and (max-width: 991px) {
	.partners .img {
		-webkit-mask-size: 213.333px;
		mask-size: 213.333px
	}

	.partners .img:before {
		width: 213.333px;
		height: 213.333px;
	}

	.inner-team .img {
		max-width: 230px;
		-webkit-mask-size: 230px;
		mask-size: 230px
	}

	.inner-team .img:before {
		width: 230px;
		height: 230px;
	}

	.inner-team .desc {
		width: calc(100% - 230px);
	}

	.inner-team .desc p {
		font-size: 16px;
	}

	.partners.slider .partner .img {
		-webkit-mask-size: 135px;
		mask-size: 135px
	}

	.partners.slider .partner .img:before {
		width: 135px;
		height: 135px;
	}
	.partners img {
		height: 233px;
	}
	.partners.slider .partner img {
		height: 145px;
	}
	.partners.slider .slick-arrow[class*="icon-"], .partners.slider .slick-arrow[class^="icon-"] {
		top: 75px;
	}
}

@media only screen and (max-width: 767px) {

	h1.title,
	h2 {
		line-height: 1.25 !important;
		padding-bottom: 25px;
	}

	.team h2 {
		margin-bottom: 20px !important;
	}
	.banner-team + .team {
		padding-bottom: 0;
	}

	.team .partners.slider,
	.team .partners:not(.slider) {
		width: calc(100% + 30px);
		margin: 0 -20px 80px -10px;
	}

	.team .partners.slider .slick-track,
	.team .partners:not(.slider) .slick-track {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.team .partners.slider .slick-list,
	.team .partners:not(.slider) .slick-list {
		padding-right: 18.957vw;
	}

	.team .partners.slider .partner,
	.team .partners:not(.slider) .partner {
		width: calc((100vw - 52px) / 2.5) !important;
		margin: 0 12px;
	}

	.team .partners.slider .partner .img,
	.team .partners:not(.slider) .partner .img {
		-webkit-mask-size: calc((100vw - 52px) / 2.5);
		mask-size: calc((100vw - 52px) / 2.5)
	}

	.team .partners.slider .partner .img:before,
	.team .partners:not(.slider) .partner .img:before {
		width: calc((100vw - 52px) / 2.5);
		height: calc((100vw - 52px) / 2.5);
	}

	.team .partners.slider .partner img,
	.team .partners:not(.slider) .partner img {
		width: 100%;
	}

	.inner-team .img {
		max-width: 330px;
		-webkit-mask-size: 330px;
		mask-size: 330px
	}

	.inner-team .img:before {
		width: 330px;
		height: 330px;
	}

	.inner-team .desc {
		width: 100%;
		-ms-flex-order: 1;
		order: 1;
		padding-left: 0;
		padding-right: 0;
	}
	.team .partners.slider .partner img,
	.partners img{
		height: 38.808vw;
	}
	.partners.slider {
		margin: 20px -10px 0;
		width: calc(100% + 20px);
	}

	.partners.slider .slick-list {
		padding-right: 12.0815vw;
	}

	.partners.slider .partner {
		width: calc((100vw - 12.0815vw - 65px) / 3);
	}

	.partners.slider .partner .img {
		-webkit-mask-size: calc((100vw - 12.0815vw - 65px) / 3);
		mask-size: calc((100vw - 12.0815vw - 65px) / 3)
	}

	.partners.slider .partner .img:before {
		width: calc((100vw - 12.0815vw - 65px) / 3);
		height: calc((100vw - 12.0815vw - 65px) / 3);
	}

	.partners.slider .partner h4,
	.partners.slider .partner h3 {
		display: none;
	}

	.banner-team {
		background-size: 1068px;
	}

	.banner-team .icon-swipe {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.banner-team .img {
		overflow-x: auto;
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);
	}

	.banner-team img {
		width: 1068px;
	}
	.inner-team .desc p,
	.inner-team .desc .meta li,
	.inner-team .desc h4{
		font-size: 16px;
	}
	.inner-team .desc h3{
		font-size: 28px;
	}
	.inner-team .dfr{
		margin-bottom: 20px;
	}
	.inner-team .partners.slider .partner img{
		height: 27.188vw;
	}
}

@media only screen and (max-width: 479px) {
	.team h2 {
		font-size: 28px;
		padding-bottom: 0;
	}

	.team .partners.slider,
	.team .partners:not(.slider) {
		width: calc(100% + 30px);
		margin: 0 0px 40px 0px;
	}

	.team .partners.slider .slick-track,
	.team .partners:not(.slider) .slick-track {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.team .partners.slider .slick-list,
	.team .partners:not(.slider) .slick-list {
		padding-right: 31.165vw;
	}

	.team .partners.slider .partner,
	.team .partners:not(.slider) .partner {
		width: calc((100vw - 32px) / 1.5) !important;
		margin: 0 12px;
	}

	.team .partners.slider .partner .img,
	.team .partners:not(.slider) .partner .img {
		-webkit-mask-size: calc((100vw - 32px) / 1.5) 110%;
		mask-size: calc((100vw - 32px) / 1.5) 110%;
	}

	.team .partners.slider .partner .img:before,
	.team .partners:not(.slider) .partner .img:before {
		width: calc((100vw - 32px) / 1.5);
		height: calc((100vw - 32px) / 1.5);
	}

	.team .partners.slider .partner img,
	.team .partners:not(.slider) .partner img {
		width: 100%;
	}

	.partners.slider {
		margin: 20px -10px 0;
		width: calc(100% + 20px);
	}

	.partners.slider .slick-list {
		padding-right: 12.0815vw;
	}

	.partners.slider .partner {
		width: calc((100vw - 70px) / 3.5);
		width: calc((100vw - 70px) / 3.5);
	}

	.partners.slider .partner .img {
		-webkit-mask-size: calc((100vw - 38px) / 3.5) 115%;
		mask-size: calc((100vw - 38px) / 3.5) 115%;
	}

	.partners.slider .partner .img:before {
		width: calc((100vw - 38px) / 3.5);
		height: calc((100vw - 38px) / 3.5);
	}
	.team .partners.slider .partner img,
	.partners img{
		height: 65.608vw;
	}
	.inner-team .partners.slider .partner img{
		height: 28.188vw;
	}
	.inner-team .partners.slider .partner{
		margin: 0 5px;
	}
}

@media only screen and (max-width: 359px) {
	.inner-team .img {
		max-width: 290px;
		-webkit-mask-size: 290px;
		mask-size: 290px
	}

	.inner-team .img:before {
		width: 290px;
		height: 290px;
	}
}

footer {
	background: #282828;
	padding-top: 60px;
	margin: auto 0 0 0;

}

footer ul.soc li {
	margin: 0 10px;
	width: 32px;
	height: 32px;
	position: relative;
	border-radius: 50%;
	border: 1px solid #989898;
	color: #989898;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 15px;

}

footer ul.soc li a {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

}

footer .dfr {
	-ms-flex-align: center;
	align-items: center;

}

footer .copyright {
	width: 100%;
	text-align: center;
	font-size: 10px;
	color: #fff;
	margin: 40px 0 25px;

}

footer ul {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

footer ul.menu {
	margin: 0 auto;

}

footer ul.menu a:hover:after {
	width: 100%;

}

footer ul.menu li {
	margin: 0 15px;

}

footer ul.menu a {
	color: #fff;
	font-size: 14px;
	line-height: 17px;
	padding: 10px 0;
	position: relative
}

footer ul.menu a:after {
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 2px;
	transform: translate(-50%, 0);
	transition: all 0.3s ease;
	background: #fff;
	position: absolute;

}

footer .logo {
	display: block;

}

footer .logo img {
	width: 132px;

}

@media only screen and (max-width: 679px) {
	footer .dfr {
		-ms-flex-direction: column;
		flex-direction: column;

	}

	footer ul {}

	footer ul.menu {
		margin: 30px 0;

	}

	footer ul.menu li {
		margin: 0px 10px;

	}
}